// Some Primefaces styles cannot be completely removed
// Todo - Find a way to completely remove remaining styles

.ui-inputfield {
  padding: .375rem .75rem !important;
}

.submenu {
  a:nth-child(1) {
    color: #fff;
  }
  ul {
    background-color: #2c3d4f;
  }
}

.ui-shadow {
  box-shadow: none !important;
}

.ui-datepicker-calendar {
  background-color: #fff;
  tbody {
    tr {
      td {
        font-weight: 700;
      }
    }
  }
  .ui-datepicker-header {
    background-color: $dark-green;
    color: #fff;
    font-weight: 700;
  }
}

.ui-timepicker-div {
  background-color: #fff;
  padding: 8px 4px 8px 4px;
  border: 1px solid #2c3d4f;

  .ui_tpicker_time_input {
    border-radius: 0.375rem;
    padding: 2px 4px 2px 4px;
    border: 1px solid #cecece;
    &:focus {
      box-shadow: 0 0 0 0.25rem rgb(44 62 80 / 25%);
    }
  }
}