// Some Primefaces styles cannot be completely removed
// Todo - Find a way to completely remove remaining styles

.ui-inputfield {
  padding: .375rem .75rem !important;
}

.submenu {
  a:nth-child(1) {
    color: #fff;
  }
  ul {
    background-color: #2c3d4f;
  }
}

.ui-shadow {
  box-shadow: none !important;
}